@media screen and (min-width: 768px) {
  body {
    background-image: url("/assets/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
  }

  .window {
    width: 400px;
  }
}
#helpButton {
  cursor: url('/assets/help_m.png'), auto;
}

html, body, button {
  cursor: url('/assets/arrow_m.png'), auto;
}

#dragDiv {
  position: absolute;
}

.title-bar {
  cursor: url('/assets/move_m.png'), auto;
}
